# BUILD OUTPUT
build/
cmake-build-*/
out/
bin/
Debug/
Release/

# CMAKE
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# COMPILERS / OBJECT FILES
*.ilk
*.o
*.obj
*.a
*.lib
*.dll
*.pdb
*.so
*.dylib

# VISUAL STUDIO / VS CODE
.vscode/
*.code-workspace

# WINDOWS
Thumbs.db
Desktop.ini

# CLION / OTHER IDEs
.idea/

# THIRD PARTY BUILDS
external/**/build/
external/**/out/
external/**/bin/
external/**/CMakeFiles/

# LOGS / TEMP
*.log
*.tmp

# CACHE
.cache/